@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


body {
  cursor: default;
	box-sizing: content-box;
	font-family: 'Quicksand', sans-serif;
	margin: 0;
	padding: 0;
}



/* HEADER */


#cabecalho {
	background-color: white;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0px 10px 0px 10px;
	box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.13); 
}

#cabecalho img {

	width: 100%;
}

#cabecalho > a {
	width: 270px;
}

.cabecalho-links ul li{
	list-style: none;
	display: inline-block;
	padding: 5px 20px 5px 5px;
	font-weight: bold;
  font-size: 15px;
}

.cabecalho-links ul li a {
	text-decoration: none;
  transition: all 0.1s linear;
	color: #737373;
}

.cabecalho-links ul li a:hover {
	color: #5C2B8C;
}

.cabecalho-inscricao {
	text-decoration: none;
	padding: 6px;
	color: #737373;
	background-color: white;
	border-bottom: 2px solid #5C2B8C;
	font-weight: bold;
	border-radius: 12px;
	transition: background-color 0.4s linear;
	box-shadow: -1px -1px 5px 1px rgba(0,0,0,0.15);
	display: inline-block;

}

.cabecalho-inscricao:hover {
	color: white;
	background-color: #4E217B;
}

/* INICIO */


#inicio {
	background-color: white;
	z-index: 2;
	margin: 70px 50px 0px 40px;
	border-radius: 10px;
	box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.20);
	position: relative;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	cursor: default;
	height: 350px;
	align-items: center;
}

.inicio-texto {
  align-items: center;
	text-align: center;
	margin-bottom: 50px;
  width: 500px;
  color: #737373;
}

.inicio-texto img {
  cursor: pointer;
}

.inicio-texto p {
	margin: 20px 0px 30px 0px;
}

.botao {
	text-decoration: none;
	color: #737373;
	background-color: white;
	font-weight: bold;
	border-radius: 14px;
	border-bottom: 2px solid #5C2B8C;
	transition: background-color 0.4s linear;
	box-shadow: -1px -1px 5px 1px rgba(0,0,0,0.20);
	padding: 7px;
	font-size: 16px;
}

.botao:hover {
	color: white;
	padding: 8px;
	background-color: #4E217B;
}

.inicio-img img{
	float: right;
  position: relative;
  bottom: 30px;
	width: 570px;
}


/* PROGRAMAS */

#programas {
	box-shadow: -1px -1px 5px 1px rgba(0,0,0,0.20);
	position: relative;
	bottom: 150px;
	background: #5C2B8C url(https://img.freepik.com/vetores-gratis/copie-o-fundo-branco-ondulado-do-espaco-em-camadas_23-2148845469.jpg?w=2000);
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: multiply;
}

.programas-fotos {
  display: flex;
  justify-content: space-evenly;
}
.programas-title {
	width: 100%;
	text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.programas-title h1 {
	text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
	margin-top: 180px;
  color: white;
	font-size: 30px;
}

.programas-title p {
	color: white;
	font-size: 15px;
  position: relative;
  bottom: 35px;
  width: 800px;
}

.relative {
	z-index: 1;
  margin: 10px;
	position: relative;
	width: 300px;
	height: 300px;
	cursor: pointer;
	overflow: hidden;
	border-radius: 5px;
}

.relative img {
  filter: grayscale();
  position: relative;
  right: 170px;
	transition: all 0.6s ease-in-out;
}

.absolute {
	position: absolute;
	top: 0;
	background-color: #857298;
	width: 301px;
	height: 301px;
	cursor: pointer;
	clip-path: polygon(100% 20%, 20% 100%, 100% 100%);
	transition: clip-path 0.5s;
	opacity: 75%;
}

.relative:hover .absolute {
	background-color: #5C2B8C;
	opacity: 99%;
}

.relative:hover img {
	transform: scale(1.2);
}

.absolute1 {
	background-color: #4E217B;
	padding: 5px;
	position: absolute;
	top: 79%;
	left: 53%;
	border-radius: 10px 0px;
	font-size: 25px;
	color: white;
	display: flex;
	align-items: center;
}

.absolute2 {
	background-color: #4E217B;
	padding: 5px;
	position: absolute;
	top: 79%;
	left: 43%;
	border-radius: 10px 0px;
	font-size: 25px;
	color: white;
	display: flex;
	align-items: center;
}

.absolute3 {
	background-color: #4E217B;
	padding: 5px;
	position: absolute;
	top: 79%;
	left: 39%;
	border-radius: 10px 0px;
	font-size: 25px;
	color: white;
	display: flex;
	align-items: center;
}

.absolute4 {
	background-color: #4E217B;
	padding: 5px;
	position: absolute;
	top: 82%;
	left: 36%;
	border-radius: 10px 0px;
	font-size: 18px;
	color: white;
	display: flex;
	align-items: center;
}

.absolute-p2 {
	margin-left: 5px;
	display: inline-block;
	width: 80px;
	font-size: 10px;
	font-weight: bold;
	color: white;
	padding-left: 5px;
	border-left: 2px solid black;
	text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

.absolute-p3 {
	margin-left: 5px;
	display: inline-block;
	width: 100px;
	font-size: 10px;
	font-weight: bold;
	color: white;
	padding-left: 5px;
	border-left: 2px solid black;
	text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

.absolute-p4 {
	margin-left: 5px;
	display: inline-block;
	width: 120px;
	font-size: 10px;
	font-weight: bold;
	color: white;
	padding-left: 5px;
	border-left: 2px solid black;
	text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

.absolute-p5 {
	margin-left: 5px;
	display: inline-block;
	width: 130px;
	font-size: 10px;
	font-weight: bold;
	color: white;
	padding-left: 5px;
	border-left: 2px solid black;
	text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}



/* DEPOIMENTOS */

#depoimentos {
	padding-top: 150px;
	z-index: 0;
	position: relative;
	bottom: 150px;
	background: url(https://img.freepik.com/free-vector/organic-white-backgroun_1199-324.jpg?w=2000);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.checked {
	color: orange;
}

.depoimentos-title {
  width: 100%;
	text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.depoimentos-title-text {
	display: flex;
	flex-direction: column;
}

.depoimentos-title h1 {
	 text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
  color: #5C2B8C;
	font-size: 30px;
}

.depoimentos-title p {
  position: relative;
  bottom: 50px;
  width: 600px;
}

.depoimentos-foto {
	position: absolute;
	left: 70%;
	bottom: 60%;
}

.depoimentos-foto img {
	width: 400px;
}


.depoimentos-icone {
	border: 3px solid #5C2B8C;
	border-radius: 100%;
	overflow: hidden;
	width: 50px;
	height: 50px;
	position: relative;
	top: 30px;
}

.depoimentos-texto {
	color: #696969;
	width: 500px;
}

.depoimentos-estrela {
	box-shadow: 0px 0px 9px 3px rgba(92, 43, 140,0.5);
	padding: 3px 7px;
	border-radius: 50px;
}

.depoimentos-conteudo h2{
	font-size: 15px;
	border-top: 3px solid #5C2B8C;
	box-shadow: -1px -1px 5px 1px rgba(0,0,0,0.20);
	padding: 20px;
	border-radius: 20px;
}

.swiper {

  width: 70%;
  height: 60%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.swiper-button-next, .swiper-button-prev {
	color: #5C2B8C !important;
}

/* EQUIPE */

#equipe {
	position: relative;
	bottom: 150px;
	/*background-color: #EBEBEB;*/
	box-shadow: -1px -1px 5px 1px rgba(0,0,0,0.20);
	}


.equipe-title {
	padding-top: 50px;
  width: 100%;
	text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.equipe-title h1 {
  color: #5C2B8C;
	font-size: 30px;
}

.equipe-title p {
  position: relative;
  bottom: 40px;
  width: 600px;
}

#equipe-conteudos {
	align-content: center;
  align-items: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
  margin: 0px 100px 0px 100px;
}

.equipe-box {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 200px;
	text-align: center;
	height: auto;
	box-shadow: -1px -1px 5px 1px rgba(0,0,0,0.20);
	border-bottom: 2px solid #5C2B8C;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	transition: all 0.2s ease-in-out;
	cursor: default;
}

.equipe-icone {
	height: 100px;
	width: 100px;
	margin: 20px;
	border-radius: 100%;
	filter: grayscale();
	transition: border 0s linear;
	overflow: hidden;
}

.equipe-icone-ibmr {
  position: relative;
  bottom: 10px;
  width: 40px;
  height: 10px;
}

.equipe-icone img {
	transform: scale(1.2);
    width: 100%;
}

.equipe-box:hover > .equipe-icone {
	filter: none;
}

.equipe-nome {
  font-size: 15px;
	margin-bottom: 10px;
}

.equipe-cargo {
	border-left: 2px solid #5C2B8C;
	padding-left: 5px;
  font-size: 13px;
}

.equipe-resumo {
	width: 200px;
	font-weight: bold;
	margin: 10px 0 10px 0;
}

/* RODAPE */

#rodape {
	box-shadow: -1px -1px 5px 1px rgba(0,0,0,0.15);
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
}

.rodape-links {
	width: 100%;
	margin: 10px;
}	

.rodape-links ul li {
	margin: 0px 20px 0px 20px;
	font-weight: bold;
	font-size: 15px;
	list-style: none;
	padding: 3px;
	display: inline-block;
}

.rodape-links ul li a {
	 text-decoration: none;
	color: #737373;
}

.rodape-links ul li a:hover {
	color: #5C2B8C;
}

#rodape img {
	width: 300px;
}

.rodape-menu {
	width: 100%;
}


/*PROJETOS*/

#pml {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 100%;
}

.pml-1 {
    display: flex;
  align-items: center;
  flex-direction: column;
  margin:10px;
  letter-spacing: 1px;
  text-align: center;
}
.pml-1 h1 {
  font-size: 35px;
  display: inline-block;
  padding: 0px 5px 0px 5px;
  color: #5C2B8C;
   text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

.spam-h1 {
  border-radius: 7px;
  background-color: #5C2B8C;
  color: white;
  padding: 5px;
  margin-right: 10px;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

.pml-1 p {
  color: #696969;
  width: 900px;
  font-size: 16px;
}

.pml-1 font {
  color: white;
}
.pml-2 {
  overflow: hidden;
  background-color: #DED6E6;
  position: relative;
  box-shadow: -1px -1px 5px 1px rgba(0,0,0,0.15);
  margin: 15px;
  display: flex;
  border-radius: 20px;
  height: 450px;
  line-height: 20px;
}

.pml-2 img {
    position: relative;
    width: 100%;
    height: 100%;
}

.pml-2 h1{
  border-radius: 6px;
  display: inline;
  padding: 3px 6px 3px 6px;
  background-color: #5C2B8C;
  color: white;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

.pml-2-text {
  text-align: justify;
  letter-spacing: 1px;
  margin: 30px 20px;
  font-size: 14px;
  color: #4A4A4A;
}

.pml-2-text a {
	text-decoration: none;
}

.pml-img-text img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

#pml-apoiadores {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
}
.pml-img-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*MEDIA QUERY*/

@media screen  and (max-width: 1200px) {
	#cabecalho {
		justify-content: center;
	}


	.inicio {
		display: flex;
		justify-content: center;
	}

	.inicio-texto {
			display: flex;
			flex-direction: column;
			justify-content: center;
		width: 300px;
	}

	.inicio-texto img {
		width: 40vw;
	}

	.inicio-img img {
		display: none;
	}
}