@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Quicksand&display=swap');


* {
	margin: 0;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
}


/* HEADER */


#cabecalho {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 auto;
}

#cabecalho img {
	width: 40%;
}


.cabecalho-links ul {
	display: flex;
}

.cabecalho-links ul li {
	list-style: none;
	font-weight: bold;
	margin: 20px;
}

.cabecalho-links ul li a {

	color: #737373;
	box-shadow: -1px -1px 5px 1px rgba(0,0,0,0.10);
	border-bottom: 2px solid #0e733a;
	border-radius: 15px;
	padding: 6px;
	transition: background-color 0.4s linear;
}

.cabecalho-links ul li a:hover {
	color: white;
	padding: 8px;
	background-color: #038c4c;
}


/* INICIO */


#inicio {
	background-color: #ffffff;
    background-image: linear-gradient(0deg, #ffffff 0%, #BABABA 50%);
	height: 100vh auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.texto {
	max-width: 500px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 50px;

}

.texto h1 {
	font-size: 50px;
}

.texto p {
	margin: 20px 20px 50px 20px;
	font-family: 'Comfortaa', cursive;
}

.botao {
	display: inline;
	color: #737373;
	background-color: white;
	box-shadow: -1px -1px 5px 1px rgba(0,0,0,0.10);
	border-bottom: 2px solid #0e733a;
	border-radius: 15px;
	padding: 10px;
	transition: background-color 0.4s linear;
	font-weight: bold;
	font-size: 20px;
}

.botao:hover {
	color: white;
	padding: 12px;
	background-color: #038c4c;
}

.img {
	margin: 0 auto;
}

.img img {
	height: 100%; 
	width: 100%; 
	object-fit: contain;
}


/* SOBRE */


#sobre {
	height: 100vh auto;
	flex-wrap: wrap;
	display: flex;
	justify-content: space-around;
	margin: 10px;
	box-shadow: -1px -1px 5px 1px rgba(0,0,0,0.20);
	border-radius: 5px;
}

.relative {
	position: relative;
	height: 300px;
	margin: 10px;
	border: 1px solid #737373;
	border-radius: 2px;
}

.relative img {
	width: 300px;
	filter: blur(1px);
}

.absolute {
	position: absolute;
	top: 0;
	background-color: #038c4c;
	width: 301px;
	height: 301px;
	cursor: pointer;
	clip-path: polygon(100% 20%, 20% 100%, 100% 100%);
	transition: clip-path 0.5s;
}

.absolute:hover {
	background-color: #0E733A;
	clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

/* EQUIPE */


#equipe {
	height: 100vh auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 10px;
	box-shadow: -1px -1px 5px 1px rgba(0,0,0,0.20);
	border-radius: 5px;
}
#equipe div {
	margin: 20px;
	border-radius: 100%;
	padding: 10px;
	background-color: #038c4c;
}

#equipe img {
	opacity: 1;
	cursor: pointer;
	height: 100px;
	width: 100px;
	filter: grayscale();
	transition: filter 0.4s ease-in-out;
}

#equipe img:hover {
	filter: none;
}
